<h2 class="title is-4 ml-6 pl-4">Your Classroom:</h2>

<section class="grid has-text-centered">
    {{#if teacher.students}}
    {{#each teacher.students}}
    <div>
        <h3>{{name}}</h3>
        <p>Grade: {{grade}}</p>
        <p>Bus Number: {{#if bus_number}}{{bus_number}}{{else}} N/A {{/if}}</p>
        <p>Teacher Notes: {{#if notes}}{{notes}}{{else}} None {{/if}}</p>

        <a href="/edit/{{id}}">Edit Student</a>

        <form action="/students/remove/{{id}}?_method=DELETE" method="POST">
            <button type="submit">Delete Student</button>
        </form>

    </div>
    {{/each}}
    {{else}}
    <h3>No Students have been added!</h3>
    {{/if}}
</section>


{{!-- <form action="/students/{{id}}" method="DELETE">
    <button type="submit">Delete Student</button>
</form> --}}